body {
    background-color: #07273A;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.block {
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}