body {
    background-color: #07273A;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Merienda One', cursive;   
}

#overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    flex-flow: column-reverse;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

button {
    margin: 10%;
    font-family: 'Merienda One', cursive;
    padding: 5% 10% 5% 10%;
    border: none;
    border-radius: 10%;
    font-size: 2rem;
    cursor: pointer;
}

.person-selector {
    background: rgb(255, 230, 0);
}

.ai-selector {
    background: rgb(8, 201, 201);
}

.game-container.hidden, .footer.hidden {
    display: none;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;
}

header, .message {
    display: flex;
    align-items: center;
    width: 350px;
}

.message {
    justify-content: center;
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
}

.top-left {
    display: flex;
}

.top-right {
    margin-left: auto;
}

.top-right img {
    background: lightgray;
    padding: 0.25rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 0.25rem;
}

.top-right img:hover {
    background: grey;
}

.x, .o {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.x {
    color: rgb(255, 230, 0);
    cursor: pointer;
}

.o {
    color: rgb(8, 201, 201);
}
#board-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2rem;
}

.block {
    color: white;
    background: #094050;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 2px -2px #04232C;
    font-size: 2rem;
}

.block:hover {
    background: #094759;
}

footer, footer h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}

footer span {
    padding: 0.25rem;
    margin-top: 0.25rem;
} 

footer img {
    height: 1.5rem;
    margin-left: 0.75rem;
    margin-top: 0.25rem;
    transition: transform 0.5s ease-in-out;
}

footer img:hover {
    transform: rotate(360deg) scale(2);
}